In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

### Importing datasets

In [ ]:
path=r"â€ªD:\Abhinash sir ML notes\HW case study\churn bank data.csv"

In [21]:
path

'\u202a\u202aD:\\Abhinash sir ML notes\\HW case study\\churn bank data.csv'

In [22]:
path=path.lstrip("\u202a\u202a")

In [23]:
path

'D:\\Abhinash sir ML notes\\HW case study\\churn bank data.csv'

In [24]:
data=pd.read_csv(path)

In [25]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [26]:
data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [27]:
#
data=data.drop(["RowNumber","CustomerId","Surname"],axis=1)

In [28]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [29]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data["Geography"]=le.fit_transform(data["Geography"])
data["Gender"]=le.fit_transform(data["Gender"])

In [30]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0

In [31]:
Y=data["Exited"]
X=data.iloc[0:,0:10]

In [32]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10

In [33]:
import statsmodels.api as sm
X=sm.add_constant(X)

In [34]:
X.head()

,const,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,1.0,619,0,0,42,2,0.00,1,1,1,101348.88
1,1.0,608,2,0,41,1,83807.86,1,0,1,112542.58
2,1.0,502,0,0,42,8,159660.80,3,1,0,113931.57
3,1.0,699,0,0,39,1,0.00,2,0,0,93826.63
4,1.0,850,2,0,43,2,125510.82,1,1,1,79084.10

In [35]:
model=sm.Logit(Y,X).fit()

Optimization terminated successfully.
         Current function value: 0.434991
         Iterations 6

In [36]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                 Exited   No. Observations:                10000
Model:                          Logit   Df Residuals:                     9989
Method:                           MLE   Df Model:                           10
Date:                Mon, 18 Jan 2021   Pseudo R-squ.:                  0.1395
Time:                        19:23:59   Log-Likelihood:                -4349.9
converged:                       True   LL-Null:                       -5054.9
Covariance Type:            nonrobust   LLR p-value:                7.035e-297
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
const              -3.5210      0.242    -14.527      0.000      -3.996      -3.046
CreditScore        -0.0007      0.000     -2.377      0.017      -0.001      -0.000
Geography           0.0852      0.033      2.580      0.010       0.020       0.150
Gender             -0.5432      0.054    -10.061      0.000      -0.649      -0.437
Age                 0.0728      0.003     28.513      0.000       0.068       0.078
Tenure             -0.0146      0.009     -1.575      0.115      -0.033       0.004
Balance          4.969e-06   4.61e-07     10.774      0.000    4.06e-06    5.87e-06
NumOfProducts      -0.0396      0.046     -0.853      0.394      -0.131       0.051
HasCrCard          -0.0279      0.059     -0.475      0.635      -0.143       0.087
IsActiveMember     -1.0805      0.057    -18.874      0.000      -1.193      -0.968
EstimatedSalary  4.963e-07    4.7e-07      1.056      0.291   -4.25e-07    1.42e-06
===================================================================================
"""

In [37]:
X=X.drop(["HasCrCard"],axis=1)

In [38]:
model=sm.Logit(Y,X).fit()

Optimization terminated successfully.
         Current function value: 0.435003
         Iterations 6

In [39]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                 Exited   No. Observations:                10000
Model:                          Logit   Df Residuals:                     9990
Method:                           MLE   Df Model:                            9
Date:                Mon, 18 Jan 2021   Pseudo R-squ.:                  0.1394
Time:                        19:23:59   Log-Likelihood:                -4350.0
converged:                       True   LL-Null:                       -5054.9
Covariance Type:            nonrobust   LLR p-value:                6.111e-298
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
const              -3.5419      0.238    -14.855      0.000      -4.009      -3.075
CreditScore        -0.0007      0.000     -2.372      0.018      -0.001      -0.000
Geography           0.0854      0.033      2.584      0.010       0.021       0.150
Gender             -0.5433      0.054    -10.062      0.000      -0.649      -0.437
Age                 0.0728      0.003     28.516      0.000       0.068       0.078
Tenure             -0.0147      0.009     -1.586      0.113      -0.033       0.003
Balance          4.972e-06   4.61e-07     10.784      0.000    4.07e-06    5.88e-06
NumOfProducts      -0.0396      0.046     -0.853      0.393      -0.131       0.051
IsActiveMember     -1.0800      0.057    -18.869      0.000      -1.192      -0.968
EstimatedSalary  4.966e-07    4.7e-07      1.057      0.291   -4.25e-07    1.42e-06
===================================================================================
"""

In [40]:
X=X.drop(["NumOfProducts"],axis=1)

In [41]:
model=sm.Logit(Y,X).fit()

Optimization terminated successfully.
         Current function value: 0.435039
         Iterations 6

In [42]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                 Exited   No. Observations:                10000
Model:                          Logit   Df Residuals:                     9991
Method:                           MLE   Df Model:                            8
Date:                Mon, 18 Jan 2021   Pseudo R-squ.:                  0.1394
Time:                        19:23:59   Log-Likelihood:                -4350.4
converged:                       True   LL-Null:                       -5054.9
Covariance Type:            nonrobust   LLR p-value:                6.414e-299
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
const              -3.6093      0.225    -16.038      0.000      -4.050      -3.168
CreditScore        -0.0007      0.000     -2.380      0.017      -0.001      -0.000
Geography           0.0846      0.033      2.560      0.010       0.020       0.149
Gender             -0.5420      0.054    -10.043      0.000      -0.648      -0.436
Age                 0.0728      0.003     28.544      0.000       0.068       0.078
Tenure             -0.0148      0.009     -1.594      0.111      -0.033       0.003
Balance          5.073e-06   4.46e-07     11.386      0.000     4.2e-06    5.95e-06
IsActiveMember     -1.0806      0.057    -18.880      0.000      -1.193      -0.968
EstimatedSalary  4.888e-07    4.7e-07      1.040      0.298   -4.32e-07    1.41e-06
===================================================================================
"""

In [43]:
X=X.drop(["EstimatedSalary"],axis=1)
model=sm.Logit(Y,X).fit()
model.summary()

Optimization terminated successfully.
         Current function value: 0.435093
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                 Exited   No. Observations:                10000
Model:                          Logit   Df Residuals:                     9992
Method:                           MLE   Df Model:                            7
Date:                Mon, 18 Jan 2021   Pseudo R-squ.:                  0.1393
Time:                        19:23:59   Log-Likelihood:                -4350.9
converged:                       True   LL-Null:                       -5054.9
Covariance Type:            nonrobust   LLR p-value:                7.475e-300
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
const             -3.5583      0.220    -16.209      0.000      -3.989      -3.128
CreditScore       -0.0007      0.000     -2.387      0.017      -0.001      -0.000
Geography          0.0846      0.033      2.562      0.010       0.020       0.149
Gender            -0.5424      0.054    -10.052      0.000      -0.648      -0.437
Age                0.0728      0.003     28.540      0.000       0.068       0.078
Tenure            -0.0146      0.009     -1.578      0.115      -0.033       0.004
Balance         5.079e-06   4.45e-07     11.402      0.000    4.21e-06    5.95e-06
IsActiveMember    -1.0813      0.057    -18.894      0.000      -1.193      -0.969
==================================================================================
"""

In [44]:
X=X.drop(["Tenure"],axis=1)
model=sm.Logit(Y,X).fit()
model.summary()

Optimization terminated successfully.
         Current function value: 0.435218
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                 Exited   No. Observations:                10000
Model:                          Logit   Df Residuals:                     9993
Method:                           MLE   Df Model:                            6
Date:                Mon, 18 Jan 2021   Pseudo R-squ.:                  0.1390
Time:                        19:24:00   Log-Likelihood:                -4352.2
converged:                       True   LL-Null:                       -5054.9
Covariance Type:            nonrobust   LLR p-value:                1.619e-300
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
const             -3.6313      0.215    -16.910      0.000      -4.052      -3.210
CreditScore       -0.0007      0.000     -2.388      0.017      -0.001      -0.000
Geography          0.0848      0.033      2.569      0.010       0.020       0.150
Gender            -0.5438      0.054    -10.081      0.000      -0.650      -0.438
Age                0.0728      0.003     28.541      0.000       0.068       0.078
Balance         5.076e-06   4.45e-07     11.400      0.000     4.2e-06    5.95e-06
IsActiveMember    -1.0786      0.057    -18.859      0.000      -1.191      -0.966
==================================================================================
"""

In [45]:
X

      const  CreditScore  Geography  Gender  Age    Balance  IsActiveMember
0       1.0          619          0       0   42       0.00               1
1       1.0          608          2       0   41   83807.86               1
2       1.0          502          0       0   42  159660.80               0
3       1.0          699          0       0   39       0.00               0
4       1.0          850          2       0   43  125510.82               1
...     ...          ...        ...     ...  ...        ...             ...
9995    1.0          771          0       1   39       0.00               0
9996    1.0          516          0       1   35   57369.61               1
9997    1.0          709          0       0   36       0.00               1
9998    1.0          772          1       1   42   75075.31               0
9999    1.0          792          0       0   28  130142.79               0

[10000 rows x 7 columns]

In [46]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                 Exited   No. Observations:                10000
Model:                          Logit   Df Residuals:                     9993
Method:                           MLE   Df Model:                            6
Date:                Mon, 18 Jan 2021   Pseudo R-squ.:                  0.1390
Time:                        19:24:00   Log-Likelihood:                -4352.2
converged:                       True   LL-Null:                       -5054.9
Covariance Type:            nonrobust   LLR p-value:                1.619e-300
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
const             -3.6313      0.215    -16.910      0.000      -4.052      -3.210
CreditScore       -0.0007      0.000     -2.388      0.017      -0.001      -0.000
Geography          0.0848      0.033      2.569      0.010       0.020       0.150
Gender            -0.5438      0.054    -10.081      0.000      -0.650      -0.438
Age                0.0728      0.003     28.541      0.000       0.068       0.078
Balance         5.076e-06   4.45e-07     11.400      0.000     4.2e-06    5.95e-06
IsActiveMember    -1.0786      0.057    -18.859      0.000      -1.191      -0.966
==================================================================================
"""

In [47]:
from sklearn.preprocessing import StandardScaler 
sc=StandardScaler()
X=sc.fit_transform(X)

In [48]:
X.shape

(10000, 7)

In [49]:
X=pd.DataFrame(data=X,columns=["const","CreditScore","Geography","Gender","Age","Balance","IsActiveMember"])

In [50]:
X.head()

   const  CreditScore  Geography    Gender       Age   Balance  IsActiveMember
0    0.0    -0.326221  -0.901886 -1.095988  0.293517 -1.225848        0.970243
1    0.0    -0.440036   1.515067 -1.095988  0.198164  0.117350        0.970243
2    0.0    -1.536794  -0.901886 -1.095988  0.293517  1.333053       -1.030670
3    0.0     0.501521  -0.901886 -1.095988  0.007457 -1.225848       -1.030670
4    0.0     2.063884   1.515067 -1.095988  0.388871  0.785728        0.970243

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=42)

In [53]:
X_train.shape[0],X_test.shape[0],data.shape[0]

(7000, 3000, 10000)

In [54]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(X_train,Y_train)

LogisticRegression()

In [55]:
pred=lr.predict(X_test)

In [56]:
pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [72]:
pred.shape

(3000,)

In [84]:
DF=pd.read_csv(path)
#colum add DF of prediction
X_test["PREDICTON"]=pred
#to_csv: dataframe convert into csv file
#DF.to_csv(path)

<ipython-input-84-57c644195037>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test["PREDICTON"]=pred

In [79]:
X_test

,const,CreditScore,Geography,Gender,Age,Balance,IsActiveMember,PREDICTON
6252,0.0,-0.564197,0.306591,0.912419,-0.660018,0.324119,-1.030670,0
4684,0.0,-0.284834,-0.901886,0.912419,0.388871,-1.225848,0.970243,0
1731,0.0,-0.512463,1.515067,-1.095988,0.484225,-1.225848,-1.030670,0
4742,0.0,-1.495407,0.306591,0.912419,1.914528,0.683816,0.970243,0
4521,0.0,-0.936681,1.515067,-1.095988,-1.136786,0.777477,0.970243,0
...,...,...,...,...,...,...,...,...
8014,0.0,0.832617,1.515067,-1.095988,0.007457,0.806649,0.970243,0
1074,0.0,-1.195351,-0.901886,-1.095988,-0.755372,0.566865,0.970243,0
3063,0.0,-0.429689,-0.901886,0.912419,-0.660018,-0.073944,0.970243,0
6487,0.0,-0.729746,-0.901886,0.912419,-0.755372,-1.225848,0.970243,0
4705,0.0,-1.216044,0.306591,-1.095988,-1.613554,0.629188,-1.030670,0

In [80]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
print("MODEL ACCURACY:",accuracy_score(Y_test,pred)*100)

MODEL ACCURACY: 81.69999999999999

In [81]:
print("confusion metrix:",confusion_matrix(Y_test,pred))

confusion metrix: [[2349   67]
 [ 482  102]]

In [83]:
print("classification report:",classification_report(Y_test,pred))

classification report:               precision    recall  f1-score   support

           0       0.83      0.97      0.90      2416
           1       0.60      0.17      0.27       584

    accuracy                           0.82      3000
   macro avg       0.72      0.57      0.58      3000
weighted avg       0.79      0.82      0.77      3000